:host {
    display: flex;
    flex-direction: column;
    --sds-c-card-color-background: #f4f4f4;
}
.classCard{
    --sds-c-card-color-background: #f4f4f4;
    --sds-c-card-body-spacing-block-start: 0.75rem;
}

.MainCard{
    --sds-c-card-color-background: #f4f4f4;;
    --sds-c-card-header-spacing-block-start: 0.25rem:
    --sds-c-card-header-spacing-block-end: 0px;
    --sds-c-card-header-spacing-inline-end: 0px;
    --sds-c-card-header-spacing-inline-start: 0px;
    --sds-c-card-body-spacing-block-start: 0px;
    --sds-c-card-body-spacing-block-end: 0px;
}

.SectionCard{
    --sds-c-card-color-background: #f4f4f4;
    --sds-c-card-header-spacing-block-start: 0px;
    --sds-c-card-header-spacing-block-end: 0px;
    --sds-c-card-header-spacing-inline-end: 0px;
    --sds-c-card-header-spacing-inline-start: 0px;
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 3px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    background-color: #868586;
    border-radius: 50%;
}

  /* appearance for checked radiobutton */
input[type="radio"]:checked {
    background-color: rgb(102, 235, 226);
}
  

.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.customIcon{
    width: 24px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.my-button {
    --sds-c-button-inverse-color-background: rgb(148, 155, 148);
    --sds-c-button-inverse-text-color: rgb(255, 255, 255);
    --sds-c-button-inverse-color-background-hover: rgb(255, 255, 255);
    --sds-c-button-inverse-text-color-hover: rgb(27, 72, 103);
    --sds-c-button-inverse-color-background-active: #f4f4f4;
    --sds-c-button-inverse-color-border-active:#f4f4f4;
    --sds-c-button-inverse-text-color-active: rgb(27, 72, 103);

}

.my-button-first{
    --sds-c-button-inverse-color-background: #f4f4f4;
    --sds-c-button-inverse-text-color: rgb(27, 72, 103);
    --sds-c-button-inverse-color-background-hover: rgb(255, 255, 255);
    --sds-c-button-inverse-text-color-hover: rgb(27, 72, 103);
    --sds-c-button-inverse-color-border:#f4f4f4;
}